
<h1>Courses detail</h1>
<h3>Title: {{ course.title }}</a></h3>
<p>Description: {{course.description}}</p>
<p>Created date: {{course.created_at}}</p>
<h2>Lessons:</h2>
<ul>
{% for lesson in lessons %}
    <li>LESSON {{forloop.counter}} : <a href="{% url 'lesson_detail' lesson.id %}"> {{ lesson.title }}</a>
    </li>
{% endfor %}
</ul>
<h3>Progress: {{ progress_percentage|floatformat:2 }}%</h3>
{% if progress_percentage == 100 %}
    <p>Congratulations! You have completed all lessons in this course.</p>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Review</button>
</form>
<a href="{%url 'enroll' course.id%}" <button type="submit ">Enroll now </button>
</a><br />
<a href="{% url 'save_course' course.id %}">
    ❤️ Save Course
</a><br />
<a href="{% url 'save_course' course.id %}">
    ❌ Delete Course
</a>