
<h1>Courses detail</h1>
<h3>Title: {{ course.title }}</a></h3>
<p>Description: {{course.description}}</p>
<p>Created date: {{course.created_at}}</p>
<h2>Lessons:</h2>
<ul>
{% for lesson in lessons %}
    <li>LESSON:{{count|add:1}} {{ lesson.title }}
         <ul>
            <h5 style="text-decoration: underline;font-size: large;">Content</h5>
            <li>{{ lesson.content }}</li><br /><br />
            <!-- {{count|add:1}} -->
         </ul>
    </li>
{% endfor %}
</ul>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Review</button>
</form>
<a href="{%url 'enroll' course.id%}" <button type="submit ">Enroll now </button>
</a>