<h1>Your Courses</h1>{% for course in courses %}

    <h3>{{ course.title }}</h3>
   <a href="{%url 'edit_course' course.id%}" <button >edit course</button></a><br /><br />
   <button><a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete this course?')">Delete Course</a></button><br /><br />

{% empty %}

    <p>You haven't created any courses yet.</p>

{% endfor %}
<button><a href="{% url 'create_course' %}"> ➕Create New Course</a></button>
<button><a href="{% url 'create_lesson' %}"> ➕Create New Lesson</a></button>
<br />
