<h1 style="text-align: center ;color:rgb(71, 71, 129)">My Learning</h1>

{% for progress in course_progress %}
<div style="border: 1px dashed rgb(53, 53, 118);border-radius: 30px;box-shadow: 5px 10px 10px 15px rgb(63, 63, 163);padding: 15px;margin:25px 100px 15px;max-width: 800px">
    <h2>CourseName:{{progress.course}}</h2>
    <h3>TotalLessons: {{progress.total_lessons }}</h3>
    <h3>CompletedLessons: {{progress.completed_lessons }}</h3>
    <h3>Progress: {{progress.progress }}%</h3>
    {% if progress.total_lessons > 0 and  progress.completed_lessons <  progress.total_lessons %} 
      <h3>You Left:<span style="font-size: smaller;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">{{progress.remaining_lessons}} from {{progress.total_lessons}} Lessons keep going👍🥰👍</span> </h3>
    {%endif%}
    {%if progress.progress == 100 %}
     <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Congratulation 🥳🥳 you completed full <span style="color: rgb(69, 69, 130);">{{progress.course}} </span> course celebrate you win </h4>
     {%endif%}
</div>
{% empty %}
    <p>You haven't enrolled in any courses yet.</p>
{% endfor %}